<footer class="footer d-flex align-items-end px-2">
  <div class="ml-auto">
    <small class="align-bottom">&copy; 2020 Marcos Velásquez.</small>
    <div class="pb-2 d-inline-block">
      <a
        href="https://www.facebook.com/markoz.velasquez"
        target="_blank"
        title="facebook"
      >
        <img src="./assets/images/icons8-facebook-48.png" alt="facebook" />
      </a>
      <a href="./assets/marcos_velasquez.pdf" download title="CV">
        <img src="./assets/images/cv.png" alt="CV" />
      </a>
      <!-- <a href="https://github.com/marcos-velasquez" target="_blank">
        <img src="./assets/images/icons8-github-48.png" alt="facebook" />
      </a> -->
    </div>
  </div>
</footer>
