<div class="sidebar-container bg-dark">
  <div class="text-center py-2">
    <img src="./assets/images/logo.svg" alt="Logo" />
  </div>
  <hr />
  <nav class="sidebar">
    <a routerLink="home" class="sidebar-link">
      <img src="./assets/images/home.png" alt="Home" />
      <span class="sidebar-link-title">Home</span>
    </a>
    <a routerLink="about-me" class="sidebar-link">
      <img src="./assets/images/about-me.png" alt="About me" />
      <span class="sidebar-link-title">About Me</span>
    </a>
    <a routerLink="skills" class="sidebar-link">
      <img src="./assets/images/skills.png" alt="Skills" />
      <span class="sidebar-link-title">Skills</span>
    </a>
    <a routerLink="works" class="sidebar-link">
      <img src="./assets/images/work.png" alt="My Works" />
      <span class="sidebar-link-title">Works</span>
    </a>
    <a routerLink="contact" class="sidebar-link">
      <img src="./assets/images/mail.png" alt="Contact Me" />
      <span class="sidebar-link-title">Contact</span>
    </a>
  </nav>
</div>
