<div class="row skills d-flex align-items-md-center">
  <div class="col-12">
    <h1>
      <app-words-blast [words]="['Skills']"></app-words-blast>
    </h1>
  </div>

  <div class="col-3 animate__animated animate__slow animate__fadeInRight">
    <img
      src="./assets/images/skills/icons8-html-5-96.png"
      alt="Html 5"
      title="Html 5"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__fadeIn">
    <img
      src="./assets/images/skills/icons8-css3-100.png"
      alt="CSS 3"
      title="CSS 3"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__bounce">
    <img
      src="./assets/images/skills/icons8-javascript-100.png"
      alt="Javascript"
      title="Javascript"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__flash">
    <img
      src="./assets/images/skills/icons8-angularjs-100.png"
      alt="Angular"
      title="Angular"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__rubberBand">
    <img
      src="./assets/images/skills/icons8-bootstrap-100.png"
      alt="Bootstrap"
      title="Bootstrap"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__shakeX">
    <img
      src="./assets/images/skills/icons8-typescript-100.png"
      alt="Typescript"
      title="Typescript"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__headShake">
    <img
      src="./assets/images/skills/icons8-sass-100.png"
      alt="Sass"
      title="Sass"
    />
  </div>

  <div class="col-3 animate__animated animate__slow animate__swing">
    <img src="./assets/images/skills/ionic.png" alt="Ionic" title="Ionic" />
  </div>
  <div class="col-3 animate__animated animate__slow animate__tada">
    <img
      src="./assets/images/skills/icons8-nodejs-100.png"
      alt="NodeJs"
      title="NodeJs"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__wobble">
    <img
      src="./assets/images/skills/icons8-npm-100.png"
      alt="Npm"
      title="Npm"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__slow">
    <img src="./assets/images/skills/mysql.png" alt="Mysql" title="Mysql" />
  </div>
  <div class="col-3 animate__animated animate__slow animate__heartBeat">
    <img
      src="./assets/images/skills/icons8-mongodb-100.png"
      alt="Mongodb"
      title="Mongodb"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__backInDown">
    <img
      src="./assets/images/skills/icons8-firebase-100.png"
      alt="Firebase"
      title="Firebase"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__backInLeft">
    <img
      src="./assets/images/skills/icons8-api-100.png"
      alt="Rest Api"
      title="Rest Api"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__backInDown">
    <img
      src="./assets/images/skills/icons8-graphql-96.png"
      alt="GraphQL"
      title="GraphQL"
    />
  </div>
  <div class="col-3 animate__animated animate__slow animate__bounceInDown">
    <img
      src="./assets/images/skills/icons8-json-100.png"
      alt="JSON"
      title="JSON"
    />
  </div>
</div>
