<div class="row d-flex align-items-md-center">
  <div class="col-md-8 animate__animated animate__bounceIn">
    <div>
      <img
        src="./assets/images/avatar.jpg"
        alt="Avatar"
        class="img-thumbnail rounded-circle"
        style="max-width: 150px"
      />
    </div>
    <h1 class="text-success">
      <app-words-blast [words]="['About Me']"></app-words-blast>
    </h1>
    <p>
      My name is <span class="lead text-success">Marcos Velásquez</span> , I am
      a systems engineer, I live in Venezuela, I am 23 years old, I am dedicated
      to fullstack development with javascript.
    </p>
    <p>
      I am passionate about web development and good practices such as: design
      patterns, refactoring, unit tests ...
    </p>
    <small
      >"The important thing is not that the code works, but that you understand
      it"</small
    >
  </div>
</div>
